<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="PropertyForm">
      <label for="Location:">Location: </label>
      <input type='text' label="Location:" name='Location:' placeholder="London">
      <br>
      <label for="Price/Night:">Price/Night: </label>
      <input type='text' label="Price/Night:" name='Price/Night:' placeholder="£80">
      <br>
      <label for="Guests:">Guests: </label>
      <input type='text' label="Guests:" name='Guests:' placeholder="2">
    </form>
  </body>
</html>
