<form method="post">
  <input id="name" type="text" name="name" placeholder="Trevor">
  <input id="username" type="text" name="username" placeholder="cool_dad">
  <input id="email" type="email" name="email" placeholder="123@456.com">
  <input id="password" type="password" name="password" placeholder="*********">
  <input id="password_confirmation" type="password" name="password_confirmation" placeholder="*********">
</form>
