<form id="signUpForm" method="post" action="/users/new">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" placeholder="Trevor">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" placeholder="cool_dad">
  <label for="email">Email: </label>
  <input id="email" type="text" name="email" placeholder="123@456.com">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" placeholder="*********">
  <label for="password_confirmation">Confirm password: </label>
  <input id="password_confirmation" type="password" name="password_confirmation" placeholder="*********">
  <input type="submit" name="Submit">
</form>
