<form method="post" action="/signin">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" placeholder="cool_dad">
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" placeholder="*********">
  <input id="SignIn" type="submit" value="Sign in">
</form>
