@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar-inverse .navbar-nav>li>a {
  color: white;
  border-width: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
    background-color: #76dbd1;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #76dbd1;
}

.navbar {
  height: 100px;
  padding-top: 25px;
  color: white;
  background-color: #76dbd1;
  border-width: 0px;
}

.hometitle{
  font-weight: bold;
  color: white;
}

.welcome {
  margin-top:12vmin;
  margin-bottom:12vmin;
}

.welcomecomment {
  color: #565656;
}
.welcomemessage {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  color: #565656;
}

.listing-container {
  margin: 40px;
  padding-top: 150px;
}

.listings {
  list-style: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #565656;
}

.welcome_message {
  color: white;
  font-size: 12px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.signup ul{
  position: absolute;
  left: 50%;
}

.carousel {

}

.search {
  margin: 100px;
  padding-top: 250px;
  padding-left: 30px;
}

.searchLocation {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 90%;
  border: 3px solid #00B4CC;
  padding: 20px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  float: left;
  right: 40px;
  width: 50px;
  height: 46px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
      position: relative;
  }
  #section1 {
    padding-top:50px;
    height:270px;
    color: navy;
    background-color: white;
   }
  #section2 {
    padding-top:50px;
    height:auto;
    color: navy;
    background-color: ededed;
  }
  #section3 {
    padding-top:50px;
    height:500px;
    color: black;
    background-color: white;
  }
