
.navbar-inverse .navbar-nav>li>a {
  color: white;
  border-width: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
    background-color: #76dbd1;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #76dbd1;
}

.navbar {
  height: 100px;
  padding-top: 25px;
  color: white;
  background-color: #76dbd1;
  border-width: 0px;
}

.hometitle{
  font-weight: bold;
  color: white;
}

.welcome {
  margin-top:12vmin;
  margin-bottom:12vmin;
}

.welcomecomment {
  color: #565656;
}
.welcomemessage {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  color: #565656;
}

.listings {
  list-style: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #565656;
}

.welcome_message {
  color: white;
  font-size: 12px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.signup ul{
  position: absolute;
  left: 50%;
}

.carousel {

}

.search {
  margin: 40px;
  padding-top: 150px;

}

.searchLocation input{
  width: 200px;
  height: 50px;
}

body {
      position: relative;
  }
  #section1 {
    padding-top:50px;
    height:270px;
    color: navy;
    background-color: white;
   }
  #section2 {
    padding-top:50px;
    height:auto;
    color: navy;
    background-color: ededed;
  }
  #section3 {
    padding-top:50px;
    height:500px;
    color: black;
    background-color: white;
  }
